body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: rgb(245, 247, 249);
}

.background {
  width: 70%;
  padding: 10px 32px 30px;
  margin: 50px auto 0;
  background-color: white;
  box-shadow: 2px 2px 4px  #8c959f;
  border-radius: 10px;
  text-align: center;
}

.headerstyles {
  width: 100vw;
  height: 45px;
  padding: 5px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background: rgb(33, 37, 41);
  font-weight: 600;
}
.headercomponent {
  margin: 5px 10px;
  color: white;
  text-decoration: none;
}

.layoutStyles {
  display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.layoutStyles2 {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 10px 0;
}

.titlebar {
  width: 70%;
  margin: 10px auto;
  padding: 18px;
  font-weight: bold;
  border-bottom: 1px solid #CCCCCC;
}

.content {
  width: 70%;
  padding: 15px;
  margin: 5px auto;
  border: 1px solid #d0d7de;
  border-radius: 8px;
  max-height: max-content;
}

.btncover {
  margin: 40px 0 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}        
.btn {
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  background-color: #6C8E2D;
  color: #f5f7f9;
  border: 1px solid #6C8E2D;
  padding: 5px 10px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 2px 2px 5px lightgray;
}
.btn:hover {
  background-color: #f5f7f9;
  color: #6C8E2D;
  transform: scale(1.3);
}

.labelStyle {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 5px 10px;
  background-color: #f5f7f9;
  color: #24292F;
  border: none;
  border-radius: 4px;
  font-size: 1.125rem;
  font-weight: 700;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus {
  outline: none;
}

.inputStyle {
  width: 70%;
  height: 30px;
  margin-bottom: 10px;
  background-color: #FFFFFF;
  border: 1px solid #d0d7de;
  border-radius: 8px;
  border: 1px solid #d0d7de;
  font-size: 1.125rem;
  padding: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.textareaStyle {
  width: 70%;
  height: 100px;
  resize: none;
  margin-bottom: 10px;
  border: 1px solid #d0d7de;
  border-radius: 8px;
  font-size: 1rem;
  padding: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

textarea:focus {
  outline: none;
}

.accountBox {
  width: 400px;
  padding: 30px;
  margin: 50px auto 0;
  background-color: white;
  box-shadow: 2px 2px 4px  #8c959f;
  border-radius: 10px;
  text-align: center;
}
.account {
  width: 70%;
  border: 1px solid darkgray;
  border-radius: 8px;
  padding: 8px;
  margin: 10px;
}
