body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(245, 247, 249);
}
      
.background {
  width: 1024px;
  padding: 0 32px;
  margin: 30px auto 0;
  background-color: white;
  box-shadow: 2px 2px 4px  #8c959f;
  border-radius: 10px;
}
@media screen and (max-width: 1023px) {
  .background {
    width: 100%;
    max-width: 1024px;
  }
}

.headerstyles {
  width: 100vw;
  height: 45px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(33, 37, 41);
  font-weight: 600;
}

.layoutstyles {
  display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.titlebar {
  background-color: #F9F9F9;
  font-weight: 400;
  border: none; border-bottom: 1px solid #CCCCCC;
  padding: 18px;
}        
.content {
  padding: 20px;
  max-height: max-content;
}

.btncover {
  display: flex;
  justify-content: center;
  padding: 20px 0 10px;
}        
.btn {
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  background-color: #24292F;
  color: #f5f7f9;
  border: 1px solid #f5f7f9;
  padding: 5px 10px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: #d0d7de;
}
.btn:hover {
  background-color: #6C8E2D;
  color: #f5f7f9;
  transform: scale(1.1);
}

h1{
  text-align: center;
}
h1 a{
  color:black;
  text-decoration: none; 
}