@tailwind base;
@tailwind components;
@tailwind utilities;

@import './reset.css';
@import './common.css';

:root {
  --foreground-light: var(--color-black);
  --foreground-dark: var(--color-white);
  --background-light: var(--color-gray-0);
  --background-dark: var(--color-gray-7);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: var(--foreground-dark);
    --background-start-rgb: var(--background-dark);
    --background-end-rgb: var(--background-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: var(--foreground-light);
    --background-start-rgb: var(--background-light);
    --background-end-rgb: var(--background-light);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb));
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 33px;
}
.logo {
  font-size: var(--font-medium);
  font-weight: var(--font-bold);
}
.nav_icon {
  cursor: pointer;
}

.navbar_left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar_right {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* circle */
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-green);
  border: 1px solid var(--color-gray-7);
  border-radius: 50%;
}

/* line */
.line {
  height: 25px;
  border-right: 1px solid var(--color-black);
}

/* main */
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px;
}
.main_right_top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main_right_bottom {
  display: flex;
  margin-top: 30px;
  gap: 10px;
}
.main_icon0 {
  background-image: url('../../public/Image/김필드.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main_icon1 {
  cursor: pointer;
  background-color: var(--color-orange);
}
.main_icon2 {
  cursor: pointer;
  background-color: var(--color-red);
}
.main_icon3 {
  cursor: pointer;
  background-color: var(--color-blue);
}

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 0 33px;
  padding: 30px 60px 60px;
  border-top: 1px solid var(--color-gray-3);
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.footer_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
@media (min-width: 768px) {
  .footer_item {
    align-items: flex-start;
  }
}

.footer_icon {
  cursor: pointer;
}