@tailwind base;
@tailwind components;
@tailwind utilities;

@import './reset.css';
@import './common.css';

:root {
  --foreground-light: var(--color-black);
  --foreground-dark: var(--color-white);
  --background-light: var(--color-gray-0);
  --background-dark: var(--color-gray-7);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: var(--foreground-dark);
    --background-start-rgb: var(--background-dark);
    --background-end-rgb: var(--background-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: var(--foreground-light);
    --background-start-rgb: var(--background-light);
    --background-end-rgb: var(--background-light);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb));
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 33px;
}
.logo {
  font-size: var(--font-medium);
  font-weight: var(--font-bold);
}
.nav_icon {
  cursor: pointer;
}

.navbar_left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar_right {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* circle */
.circle {
  background-color: var(--color-green);
  border-radius: 50%;
}

/* line */
.line {
  height: 25px;
  border-right: 1px solid var(--color-black);
}

/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 33px;
  padding: 30px 60px 60px;
  border-top: 1px solid var(--color-gray-3);
}

.footer_icon {
  cursor: pointer;
}